@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  margin: 3;
  padding: 84px;
  min-width: 1440px;
  height: 100vh;
  justify-content: center;
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif; ;
}

main {
  padding: 64px;
}

.hero-section {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  justify-content: center;
}