img {
  
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 86px 56px 86px 56px;
}

.grid {
  display: grid;
  align-items: center;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.card-1{
  display: flex;
  align-items: center;
  grid-column: 2 / 4;
  grid-row: 1;
  background-color: hsl(256, 67%, 59%);
  font-size: 30px;
  
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.card-2{
  grid-column: 2;
  grid-row: 2;

}
.card-3{
  grid-column: 3;
  grid-row: 2;

}
.card-4{
  grid-column: 4;
  grid-row: 1 / 3;
  background-color: hsl(254, 88%, 90%);

}
.card-5{
  grid-column: 1;
  grid-row: 1 / 3;
  background-color: hsl(31, 66%, 93%);
  font-size: 25px;

}
.card-6{
  grid-column: 3 / 4;
  grid-row: 3;

}
.card-7{
  grid-column: 2;
  grid-row: 3;

}
.card-8{
  grid-column: 1;
  grid-row: 2 / 3;

}

