@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  /* box-sizing: border-box; */
}

body {
  background: #f5f5f5;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-family: "DM Sans", sans-serif;
}

/* GRID LAYOUT */
.bento-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 25px;
  max-width: 1200px;
  width: 100%;
}

/* BASE CARD */
.card {
  background: white;
  border-radius: 1.5rem;
  padding: 1.5rem;
}

/* CARD COLORS */
.hero,
.followers {
  background: #7c5cff;
  color: white;
}

.schedule {
  background: #e7ddff;
}

.create {
  background-color: hsl(31, 66%, 93%);
}
.write,
.maintain {
  background: #ffd166;
}

.manage,
.growth {
  background: white;
}

/* GRID SPANS */
.hero {
  grid-column: span 6;
  place-items: center;
}

.schedule {
  grid-column: 10 / 13;
  grid-row: 1 / 3;
  overflow: hidden;
}

.create {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  place-items: center;
}

.write {
  grid-column: 1 / 4;
  grid-row: 2 / 4;
}
.manage,
.maintain {
  grid-column: span 3;
  overflow: hidden;
  place-items: center;
}

.followers {
  grid-column: 7 / 13 ;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.growth {
  grid-column: 4 / 7;
  place-items: center;
  
}

/* TEXT STYLES */
.hero h1 {
  font-size: 65px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
}

.hero span {
  color: #ffd166;
}

.percent {
  font-size: 65px;
  font-weight: 400;
  margin: 0;
}

.create {
  font-size: 45px;
  font-weight: 700;
  line-height: 1;
}

.write {
  font-size: 45px;
  font-weight: 700;
  line-height: 1;
}

.create i {
  color:#7c5cff;
}

 .followers {
  font-size: 35px;
  font-weight: 600;
  line-height: 1;
 }

 .maintain {
  font-size: 45px;
  font-weight: 700;
  line-height: 1;
 }
/* IMAGES */

.stars {
  width: 200px;
  height: 34px;
}

.schedule-pic {
  height: 400px;
  object-fit: cover;
}

.button {
  width: 80%;
}

.ai-pic {
  width: 95%;
}

.growth-pic {
  width: 75%;
}

.followers-pic {
  width: 100%;
}

.maintain-pic {
  object-fit: cover;
  height: 225px;
  place-items: center;
}
